.iphone-shell {
    height: 712px;
    width: 350px;
    border-radius: 60px;
    border: 14px solid black;
}

.notification {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(12px)
}